Host web1
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/inventory/.vagrant/machines/web1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host web2
  HostName 127.0.0.1
  User vagrant
  Port 2200
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/inventory/.vagrant/machines/web2/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host web3
  HostName 127.0.0.1
  User vagrant
  Port 2201
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/inventory/.vagrant/machines/web3/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db1
  HostName 127.0.0.1
  User vagrant
  Port 2208
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/inventory/.vagrant/machines/db1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db2
  HostName 127.0.0.1
  User vagrant
  Port 2209
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/inventory/.vagrant/machines/db2/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db3
  HostName 127.0.0.1
  User vagrant
  Port 2210
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/inventory/.vagrant/machines/db3/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

