Host node1
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null  
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/usera/Bureau/sibpa_20-10-22-main/medias/vagrant_une_machine/.vagrant/machines/node1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

