Host web1
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/usera/Bureau/sibpa_20-10-22-main/medias/architecture_3_tiers/.vagrant/machines/web1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db1
  HostName 127.0.0.1
  User vagrant
  Port 9801
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/usera/Bureau/sibpa_20-10-22-main/medias/architecture_3_tiers/.vagrant/machines/db1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

