Host web1
  HostName 127.0.0.1
  User vagrant
  Port 9803
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/wordpress-lamp_ubuntu1804/.vagrant/machines/web1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db1
  HostName 127.0.0.1
  User vagrant
  Port 9805
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/wordpress-lamp_ubuntu1804/.vagrant/machines/db1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

