Host web1
  HostName 127.0.0.1
  User vagrant
  Port 9802
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers_gros/.vagrant/machines/web1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host web2
  HostName 127.0.0.1
  User vagrant
  Port 9806
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers_gros/.vagrant/machines/web2/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host web3
  HostName 127.0.0.1
  User vagrant
  Port 9808
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers_gros/.vagrant/machines/web3/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db1
  HostName 127.0.0.1
  User vagrant
  Port 9810
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers_gros/.vagrant/machines/db1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db2
  HostName 127.0.0.1
  User vagrant
  Port 9812
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers_gros/.vagrant/machines/db2/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db3
  HostName 127.0.0.1
  User vagrant
  Port 9814
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers_gros/.vagrant/machines/db3/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

