Host web1
  HostName 127.0.0.1
  User vagrant
  Port 9800
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers/.vagrant/machines/web1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host db1
  HostName 127.0.0.1
  User vagrant
  Port 9802
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/mfalce/Documents/pro/projets/oh_ce_cours_formation/domaines/devops/fr/exercices/codesCorrection/ansible/architecture_3_tiers/.vagrant/machines/db1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

